# SQLite to MySQL Demo

This notebook demonstrates the usage of `main.py` functions for executing SQL queries on SQLite and MySQL databases.

In [1]:
!which pip

/home/richard/anaconda3/envs/payroll/bin/pip

In [2]:
!curl ipinfo.io/ip

180.169.44.50

In [3]:
!pip install pymysql

Looking in indexes: https://mirrors.sustech.edu.cn/pypi/web/simple
Requirement already satisfied: pymysql in /home/richard/anaconda3/envs/payroll/lib/python3.10/site-packages (1.1.0)

In [4]:
# Import the functions from main.py
from sql_util import sqlite_sql, mysql_sql

## Example: SELECT Query

Both functions return a pandas DataFrame for SELECT queries.

In [33]:
# Example SELECT query on SQLite
sqlite_result = sqlite_sql("SELECT * FROM payroll_details;")
print("SQLite Result:")
print(sqlite_result)

SQLite Result:
               文件名 sheet名 职员全名     日期  客户名称       型号       工序全名    工序   计件数量  \
0       201406.xls    精加工  袁崇雷  3·4·5         YEJ290        压磨铣  None   10.0
1       201406.xls    精加工  袁崇雷  3·4·5            132        压磨铣  None    2.0
2       201406.xls    精加工  袁崇雷  3·4·5             71        压磨铣  None   20.0
3       201406.xls    精加工  袁崇雷  3·4·5             90        压磨铣  None   90.0
4       201406.xls    精加工  袁崇雷  3·4·5        YEJ2100        压磨铣  None  105.0
...            ...    ...  ...    ...   ...      ...        ...   ...    ...
259613  202507.xls    精加工  郁俊海    7月份  None                 端板2  None    4.0
259614  202507.xls    精加工  郁俊海    7月份  None                  压圈  None    4.0
259615  202507.xls    精加工  郁俊海    7月份  None           测绘单相电机定子天  None    0.0
259616  202507.xls    精加工  郁俊海    7月份  None      990       试验用垫  None    4.0
259617  202507.xls    精加工  郁俊海    7月份  None            双轴伸电机整机车  None   33.0

         系数     定额      金额    备注    代码
0       2.0   1.47   29.40  None  None
1       3.0   2.19   13.14  None  None
2       1.5   1.42   42.60  None  None
3       1.0   1.41  126.90  None  None
4       1.0   1.68  176.40  None  None
...     ...    ...     ...   ...   ...
259613  0.0  15.00   60.00        None
259614  0.0  10.00   40.00        None
259615  0.0   0.00  240.00        None
259616  0.0   5.00   20.00        None
259617  0.0   3.10  102.30        None

[259618 rows x 14 columns]

In [53]:
# Example SELECT query on MySQL
mysql_result = mysql_sql("select count(*) FROM processes;")
mysql_result

   count(*)
0         5

## Example: UPDATE Query

UPDATE/INSERT/DELETE queries return `None`.

In [ ]:
# Example UPDATE query on SQLite
sqlite_sql("UPDATE employees SET salary = 5000 WHERE id = 1")
print("SQLite update completed")

In [ ]:
# Example UPDATE query on MySQL
mysql_sql("UPDATE employees SET salary = 6000 WHERE id = 1")
print("MySQL update completed")